[Unit]
Description=wardend daily feed update timer
Documentation=https://wardend.dev

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
